body {
	background-image: url('');
	background-repeat: repeat;
	background-size: 35%;
}

@font-face {
	font-family: 'Return-To-Castle';
	src: url('ReturnToCastle.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#title {
	font-family: Return-To-Castle, monospace;
	color: white;
	font-size: 5.0vw;
	text-align: center;
}

#stats {
	font-family: monospace;
	color: white;
	font-size: 1.0vw;
	text-align: left;
}

#map {
	font-family: monospace;
	color: yellow;
	font-size: 1.0vw;
	text-align: left;
}

.white-border {
	border-color: white;
	border-width: 3px;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0.5%;
}